h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h2 {
  font-size: 50px;
  margin-top: 10px;
}

section {
  background: #ffffff;
  padding: 20px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.1);
}

input {
  color: #505050;
  width: 100%;
  padding: 7px 10px;
  border: 2px solid #55754c;
  border-radius: 5px;
}
input:focus {
  outline-color: #55754c;
}

.WordSuggestions {
  font-size: 12px;
  color: #aaaab1;
  margin-top: 5px;
}

.SearchButton {
  color: #b1dfa4;
  background-color: #55754c;
  border: 2px solid #55754c;
  transition: all 150ms ease-in-out;
  font-weight: bold;
}
.SearchButton:hover {
  color: #55754c;
  background: #b1dfa4;
  border: 2px solid #b1dfa4;
}
